:root {
    --primary: #16828F;
    --text: #525252;
    --magenta: #A11A79;
    --green: #D9E15F;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--primary);
}