:root {
    --primary: #16828F;
    --secondary: #A11A79;
    --accent: #D9E15F;
    --text: #525252;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    color: var(--primary);
    margin: 0;
}

p { margin: 0; }
h2 { font-size: 1.5rem; }